# Created by .ignore support plugin (hsz.mobi)
.idea
/venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
